# Prerequisites
*.d

# Compiled Object files
build/**/*.slo
build/**/*.lo
build/**/*.o
build/**/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# clangd cache
.cache

# Compiled shader programs
*.spv

# repo-specific stuff
build/*

# macOS
.DS_Store
